@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --clr-purple: #6070ff;
  --clr-white: #fff;
  --clr-para: #344563;
  --clr-gray-100: #b3bac5;
}

body {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  background-color: whitesmoke;
  margin-top: 0;
  background-image: url("/images/header-shapes\ mobile.svg");
  background-repeat: no-repeat;
  padding: 15px;
}

.logo {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
  margin: 16px;

}

.time {
  /* position: absolute; */
  width: 54px;
  height: 16px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.28;
  color: #000;
  margin: 16px;
}

h2 {
  width: 327px;
  height: 150px;
  font-family: 'Poppins', sans-serif;
  top: 114px;
  left: 24px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  margin-left: 24px;
}

p {
  width: 327px;
  height: 146px;
  top: 276px;
  left: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  padding-top: 10px;
  margin-left: 24px;
}

.bar1 {
  width: 16px;
  top: 7px;
  right: 4px;

  /* position: absolute; */
  background-color: #acb7c3;
  border: 2px solid;
  margin-right: 50px;
}

.bar2 {
  width: 16px;
  top: 12px;
  right: 4px;
  position: absolute;
  border: 2px solid #acb7c3;
}

.bar3 {
  width: 16px;
  top: 17px;
  right: 4px;
  position: absolute;
  border: 2px solid #acb7c3;
}

.social-icons {
  position: absolute;
  display: flex;
  align-items: center;
  list-style: none;
  padding: 15px;
  margin-top: 0.5rem;
}

.social-icons svg {
  width: 2.5rem;
}

.connect {
  width: 117px;
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin-left: 24px;
}

.pwr {
  position: absolute;
  width: 18px;
  height: 7.33px;
  top: 19.33px;
  left: 338px;
  border-radius: 1.33px;
  background-color: #000;
}

.menu-icon {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 8px;
  left: 8px;
  margin-top: 118px;
  margin-left: 290px;
  /* line-height: 20px; */
}

.wifi {
  position: absolute;
  width: 15.27px;
  height: 10.97px;
  top: 17.33px;
  left: 315.69px; 
}

.cell-connection {
  position: absolute;
  width: 17px;
  height: 10.67px;
  top: 17.67px;
  left: 293.67px;

}