@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --clr-purple: #6070ff;
  --clr-white: #fff;
  --clr-para: #344563;
  --clr-gray-100: #b3bac5;
}

body {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  background-color: whitesmoke;
  margin-top: 0;
  background-image: url("/images/header-shapes\ mobile.svg");
  background-repeat: no-repeat;
  padding: 15px;
  position: absolute;

  /* width: 462px;
  height: 587.15px;
  top: 104px;
  left: -34px; */
}

.logo {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
  margin: 16px;
}

h2 {
  width: 327px;
  height: 150px;
  font-family: 'Poppins', sans-serif;
  top: 114px;
  left: 24px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  margin-left: 24px;
}

p {
  width: 327px;
  height: 146px;
  top: 276px;
  left: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  padding-top: 10px;
  margin-left: 24px;
}

.social-icons {
  position: absolute;
  display: flex;
  align-items: center;
  list-style: none;
  padding: 15px;
  margin-top: 0.5rem;
}

.social-icons svg {
  width: 2.5rem;
}

.connect {
  width: 117px;
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin-left: 24px;
}

.menu-icon {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 8px;
  left: 8px;
  margin-top: 118px;
  margin-left: 290px;

  /* line-height: 20px; */
}
